.heading {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 2rem;
}

.contact {
    margin-bottom: 4rem;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
}

.input {
    width: 100%;
    border: 1px solid rgb(199, 196, 196);
    border-radius: 4px;
    padding: 1.2rem 2rem;
}

.button {
    border: none;
    background-color: rgb(164, 164, 164);
    border-radius: 5px;
    padding: 1rem 2rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}