.header {
    background-color: black;
    color: white;
    padding: 2.4rem 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.heading, .listItem {
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.heading {
    font-size: 2rem;
}

.listItem {
    font-size: 1.4rem;
}