.footer {
    background-color: black;
    color: white;
    padding: 2.4rem 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heading {
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.author {
    font-size: 1.4rem;
}